.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

h1 
{
    text-align: center;
	border : 1px solid #4051b5;
    margin : 0 0 10px 30px; /* haut, droite, bas, gauche (respectivement) */
    font : 150% georgia, palatino, serif;
    font-style : italic;
}


h2
{
    text-align: center;
	border : 1px solid #4051b5;
	
    margin : 0 0 10px 30px; /* haut, droite, bas, gauche (respectivement) */
    font : 120% georgia, palatino, serif;
    font-style : italic;
}

h3
{
    text-align: center;
	margin : 0 0 10px 30px; /* haut, droite, bas, gauche (respectivement) */
    font : 130% georgia, palatino, serif;
    font-style : italic;
}

table {
border: medium solid #4051b5;

}

td, th {
border: thin solid #6495ed;
border-collapse: collapse;
width: 25%;
}